<h1>
  Upload users CSV file for validation.
</h1>

<div class="mt-5">
  <%= form_with url: home_page_path do |form| %>
    <%= form.file_field :users_csv, required: true %>
    <%= form.submit "Upload", class: "bg-blue-950 text-white px-3 py-1 rounded-md cursor-pointer" %>
  <% end %>
</div>

<div id="results"></div>
