<%= render partial: "shared/alert" %>

<h1>
  Upload users CSV file for validation.
</h1>

<div class="mt-5">
  <%= form_with url: home_page_path, data: { controller: "form", action: "change->form#submit"} do |form| %>
    <%= form.file_field :users_csv, required: true %>
  <% end %>
</div>

<div id="results"></div>
